{% load static %}
{#    2FAPVA#}
<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-12 fapva-container">
            <div class="m-auto text-center">
                <img class="m-auto text-center" src="{% static "images/logo.png" %}"/>
            </div>
            <p class="text-center text-capitalize font-weight-bold m-3 " style="">
                Virtual phone numbers enable you to receive SMS messages without the need for a physical phone or
                SIM card. Our virtual numbers are temporary and help you bypass SMS verification procedure for
                social media, messaging apps, and other websites.
            </p>
            <ul class="text-uppercase d-flex justify-content-center list-unstyled font-600 my-3">
                <li class="mx-3"><a href="{% url "visitor-home" %}" class="text-decoration-none text-black">Home</a>
                </li>
                <li class="mx-3">Instructions & Rules</li>
                <li class="mx-3">Support</li>
            </ul>

            <h3 class="text-center text-capitalize my-5">
                We have the largest options of
                payment systems
            </h3>

            <ul class="d-flex justify-content-center list-unstyled my-3" id="footer-payment-list">
                <li class="mx-3"><img src="{% static "images/home/master-card.png" %}" alt=""></li>
                <li class="mx-3"><img src="{% static "images/home/visa-card.png" %}" alt=""></li>
                <li class="mx-3"><img src="{% static "images/home/crypto-coin.png" %}" alt=""></li>
                <li class="mx-3"><img src="{% static "images/home/bitcoin.png" %}" alt=""></li>
                <li class="mx-3"><img src="{% static "images/home/etherium.png" %}" alt=""></li>
                <li class="mx-3"><img src="{% static "images/home/crypto-coin-2.png" %}" alt=""></li>
                <li class="mx-3"><img src="{% static "images/home/paypal.png" %}" alt=""></li>
            </ul>

            <div class="d-flex justify-content-between m-auto p-4" id="copywrite">
                <div class="my-auto">
                    <p class="m-0">© 2FAPVA. All rights reserved | 2023</p>
                </div>
                <div class="my-auto">
                    <ul class="text-uppercase d-flex justify-content-center list-unstyled font-600 m-0">
                        <li class="">Privacy Policy</li>
                        <li class="">Terms of Use</li>
                        <li class="">Payment Policy</li>
                        <li class="">Return Policy</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

