{% extends 'administrator/base.html' %}
{% load static %}
{% block title %} Services Numbers{% endblock %}

{% block css %}
    {#    <link href="{% static '/fapva_css/home.css' %}" rel="stylesheet" type="text/css"/>#}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Services Numbers</h1>
            <a href="#" id="create-service"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i> Add Service</a>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-12">
                <div class="card-box bg-white table-responsive py-3 px-2">
                    <table id="services-datatable" class="table table-striped table-bordered dt-responsive nowrap"
                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Services</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="services-form">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="form-group my-1 w-[45]">
                                    <label for="exampleInputEmail1">Country</label>
                                    <select id="select-state" class="js-example-basic-single js-states form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="form-group my-1 w-[45]">
                                    <label for="exampleInputEmail1">Service</label>
                                    <select id="select-service" class="form-control" placeholder="Pick a Service...">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="form-group my-1 w-[45]">
                                    <label for="exampleInputEmail1">Number Type</label>
                                    <select class="form-control" id="is_paid" name="is_paid">
                                        <option value="true">Paid</option>
                                        <option value="false">Free</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="form-group my-1 w-[45]">
                                    <label for="exampleInputEmail1">Number</label>
                                    <input type="text" name="number" class="form-control" id="number"
                                           aria-describedby=""
                                           placeholder="Enter Number" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="form-group my-1 w-[45]">
                                    <label for="exampleInputEmail1">Price in Dollar$</label>
                                    <input type="number" name="price" class="form-control" id="price"
                                           aria-describedby="" min="0"
                                           placeholder="Enter Price" required>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submit">Save changes</button>
                    <button type="button" class="btn btn-primary d-none" id="edit">Update</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static "fapva_js/admin/services_number.js" %}"></script>

    <script>
        var data;
        window.onload = function () {
            data = {
                "services_datatable_url": ' {% url "services-country-number-datatable" %}',
                "services_status_url": ' {% url "services-country-number-status" %}',
                "services_url": '{% url 'services-country-number' %}',
                "services_delete_url": '{% url 'services-country-number-delete' %}',
                "services_data": {{ services | safe }},
                "countries_data": {{ countries | safe }},
            };

            new ServicesNumber(data);
        }
    </script>
{% endblock %}