{% extends 'base.html' %}
{% load static %}
{% block title %} FVPVA | Sign Up {% endblock %}
{% block description %} FVPVA Sign Up Section {% endblock %}

{% block css %}
    <link href="{% static '/fapva_css/login_and_signup.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        nav {
            display: none !important;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "common/login_signup_header.html" %}
    <div class="container">
        <div class="row login-container">
            <div class="col-lg-6 col-md-6 col-sm-12 my-auto">
                <h3>Create an Account</h3>
                <p>Describe yourself as clearly so that there are no mistakes.</p>
                <form id="signupForm" action="" method="">
                    <div class="row p-0">
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="form-group my-3 w-[45]">
                                <label for="exampleInputEmail1">First Name</label>
                                <input type="text" name="first_name" class="form-control" id="first_name"
                                       aria-describedby=""
                                       placeholder="Enter First Name" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="form-group my-3 w-[45]">
                                <label for="exampleInputEmail1">Last Name</label>
                                <input type="text" name="last_name" class="form-control" id="last_name"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter Last Name" required>
                            </div>
                        </div>


                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="form-group my-3 w-[45]">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter email" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="form-group my-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password"
                                       name="password"
                                       placeholder="Password" required>
                            </div>
                        </div>
                    </div>

                    <ul class="list-unstyled d-flex justify-content-between my-3">
                        <li>
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label" for="exampleCheck1">Remember Information</label>
                        </li>
                        <li>
                            <a href="#" class="font-weight-bold text-dark">Forgot Password</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex justify-content-between">
                        <li>
                            <button type="submit" value="submit" class="text-white px-3 py-3 border-round">Sign Up</button>
                        </li>
                        <li class="m-auto">
                            <p>You Don't have an account? <a href="{% url "visitor-login" %}?next={{ next|safe }}" class="text-uppercase sign-up-anchor">Login</a>
                            </p>
                        </li>
                    </ul>
                </form>
                <div class="my-5 or-container">
                    <div>
                        <h3>Or</h3>
                        <hr>
                    </div>
                </div>
                <ul class="list-unstyled d-flex sign-in-with-container justify-content-evenly">
                    <li>
                        <button><img src="{% static "images/login/google.png" %}"> Sign in with Google</button>
                    </li>
                    <li>
                        <button><img src="{% static "images/login/facebook-logo.png" %}"> Sign in With Facebook</button>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 order-1">
                <img src="{% static "images/login/login_side.png" %}" width="100%"/>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static "fapva_js/sign-up.js" %}"></script>

    <script>
        var data;
        window.onload = function () {
            data = {
                "sign_up_url" : ' {% url "client_register" %}',
                "home_url" : ' {% url "visitor-home" %}',
                "next": '{{ next | safe }}'
            };

            new SignUp(data);
        }
    </script>
{% endblock %}